html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header{
	font-family: 'Saira Semi Condensed', sans-serif;
	width: 100%;
	height: 15%;
	background-color: rgb(255, 28, 28);
	position: fixed;
	top: 0;
}

.logo{
	color: rgb(255, 28, 28);
	margin: 5% 0 0 5%;
	width: 25%;
}

.hamburger{
	width: 15%;
	float: right;
	color: white;
	margin: 10% 5% 0 0;
}

.tabletNav{
	visibility: hidden;
}

.mobileNav{
	font-family: 'Saira Semi Condensed', sans-serif;
	background-color: rgba(255, 28, 28, 0.699);
	opacity: 90%;
	position: absolute;
	right: 0;
	animation-name: example;
	animation-duration: 5s;
}
.mobileNav ul, .mobileNav{
	line-height: 200%;
}
.mobileNav li{
	font-weight: bolder;
}

/* The animation code */
@keyframes example {
	0% {background-color: rgb(255, 28, 28);
	right: 0;}
	25% {background-color: rgb(255, 28, 28);
	right: 200px;}
	50% {background-color: yellow;
	right: 200px;}
	75% {background-color: blue;
	right: 0px;}
	100% {background-color: rgba(255, 28, 28, 0.699);
	right: 0;}
}

main{
	background-color: black;
}

img{
	width: 100%;
}

.siameseBicyle{
	font-family: 'Saira Semi Condensed', sans-serif;
	width: 100%;	
	color: white
}

.head2{
	font-family: 'Saira Semi Condensed', sans-serif;
	text-align: left;
	font-size: 300%;
	font-weight: bolder;
}

.prices{
	font-family: 'Saira Semi Condensed', sans-serif;
	font-size: larger;
	color: rgb(255, 28, 28);
	font-weight: bold;
}

.prices:hover{
	font-size: x-large;

}

/* #naira{
	text-decoration: double line-through;
	font-size: large;
	font-weight: bolder;
}
#naira2{
	text-decoration: double line-through;
	font-size: small;
	font-weight: bolder;
} */

#cancel{
	font-family: 'Saira Semi Condensed', sans-serif;
	text-decoration: line-through rgb(255, 28, 28) solid;
	font-size: small;
	color: white;
	font-weight: normal;
}

label{
	font-family: 'Saira Semi Condensed', sans-serif;
	font-size: small;
	color: rgb(255, 28, 28);
}
input{
	font-family: 'Saira Semi Condensed', sans-serif;
	width: 35%;
}
input::placeholder{
	color: rgb(255, 28, 28);
}
input:hover{
	width: 40%;
	border-color: rgb(255, 28, 28)
}

.addToCart{
	font-family: 'Saira Semi Condensed', sans-serif;
	width: 35%;
	background-color: rgb(255, 28, 28);
	color: white;
	font-size: large;
	font-weight: bolder;
}

.addToCart:hover{
	background-color: white;
	color: rgb(255, 28, 28);
	width: 40%;
}

.proceedPayment{
	font-family: 'Saira Semi Condensed', sans-serif;
	width: 100%;
	background-color: white;
	color: rgb(255, 28, 28);
}

.proceedPayment:hover{
	background-color: rgb(255, 28, 28);
	color: white;
}

.h2{
	font-family: 'Saira Semi Condensed', sans-serif;
	font-size: 250%;
	font-weight: bolder;
	color: rgb(255, 28, 28);
}
.h2 ~ p{
	line-height: 150%;
	font-size: 1.5em;
	text-align: justify;
	font-family: 'Saira Semi Condensed', sans-serif;
}
.homeBike{
	margin-top: 25%;
}

.siameseWonder2{
	visibility: hidden;
}

.bodyDiv1{
	padding-left: 3%;
	width: 94%;
	background-color: black;
	font-family: 'Saira Semi Condensed', sans-serif;
}
.siameseWonder1{
	padding-right: 3%;
}

.slideContainer{
	max-width: 1000px;
	margin: auto;
}
/* Hide the images by default */
/* .mySlides {
	display: none;
} */
/* Next and Previous Buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 1s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Positioning the next button to the right */
.next{
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* on hover add a black background color with a little bit see-through */
.prev:hover, .next:hover{
	background-color: rgb(255, 28, 28);
}

/* Caption  text */
.text {
	color: rgb(255, 28, 28);
	font-size: 15px;
	padding: 8px 8px;
	position: absolute;
	top: 0;
}
/* Number text (1/3 etc) */
.numbertext {
	color: rgb(255, 28, 28);
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
/* The dots/bullets/indicators */
.dot{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6 ease;
}
.active, .dot:hover{
	background-color: #717171;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: .4;}
	to {opacity: 1;}
}


.reviews:hover{
	font-weight: bolder;
}
.reviewDiv span, .reviewDiv p, .reviewDiv2 p{
	color: white;
	font-family: 'Saira Semi Condensed', sans-serif;
}
.reviewDiv .reviews, .reviewDiv2 .reviews{
	font-family: 'Saira Semi Condensed', sans-serif;
	color: rgb(255, 28, 28);
}

.reviews>span{
	color: white;
}
.reviewDiv2{
	visibility: hidden;
}

.mayAlsoLike{
	font-family: 'Saira Semi Condensed', sans-serif;
	background-color: rgb(255, 28, 28);
	border: 5px solid black;
}
.mayAlsoLike h3:hover{
	font-size: 250%;
	font-weight: bold;
}

.mayAlsoLike h3{
	font-size: 200%;
	font-weight: bolder;
}

.mayAlsoLike p{
	font-size: large;
	font-weight: bolder;
}
 
footer h3{
	text-align: center;
	color: white;
	background-color: black;
	font-size: x-large;
	font-weight: lighter;
}

footer{
	text-align: left;
	text-justify: auto;
	background-color: rgb(255, 28, 28);
	font-family: 'Saira Semi Condensed', sans-serif;
}

footer nav{
	color: white;
	padding-left: 38%;
	padding-top: 4%;
	padding-bottom: 4%;
}
footer li:hover{
	font-weight: bolder;
}
footer p{
	color: white;
}

.fLogo{
	display: inline;
}

footer h2{
	color: rgb(255, 28, 28);
	background-color: black;
	text-align: center;
	font-size: 300%;
	font-weight: bolder;

}

@media screen and (min-width: 480px) {
	header{
	font-family: 'Saira Semi Condensed', sans-serif;
	width: 100%;
	background-color: rgb(255, 28, 28);
	}

	.hamburger{
		visibility: hidden;
	}

	.tabletNav{
		visibility: visible;
		float: right;
		padding-top: 15%;
		margin-right: -16%;
	}
	.tabletNav li{
		color: white;
		font-weight: bold;
		display: inline-block;
	}
	.tabletNav li:hover{
		color: #111111;
		font-weight: 900;
	}

	.homeBike{
		grid-area: homeBike;
		width: 50%;
		margin-bottom: -9%;
		height: 65em;
	}
	.homeBike:hover{
		margin-top: -.5%;
	}
	.bodyDiv1{
		margin-top: 25%;
		grid-area: bodyDi1;
		width: 50%;
		margin-left: 50%;
	}
	.addToCart{
		width: 45%;
		margin-top: -10%;
		margin-bottom: -10%;
	}

	.siameseBicyle{
		padding-top: 5%;
		width: 95%;
		display: grid;
		grid-template-areas: 'homeBike bodyDiv1' auto auto/auto auto;
	}
	.siameseWonder1{
		visibility: hidden;
	}
	.siameseWonder2{
		padding-left: 2%;
		width: 50%;
		margin-left: 50%;
		visibility: visible;
		color: white;
		grid-area: siameseWonder2;
	}
	.siameseWonder2 p{
		line-height: 46px;
		width: 90%;
	}
	.slideContainer{
		margin-top: -85%;
		padding-right: 5%;
		width: 95%;
		display: grid;
		grid-template-areas: 'slideWrap siameseWonder2' auto auto/auto auto;
	}
	.slideWrap{
		background-color: white;
		width: 50%;
		height: 85%;
		padding-top: 2%;
		grid-area: slideWrap;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.mySlides{
		width: 47%;
		margin-bottom: -90%;
	}
	.mySlides img:hover{
		width: 50%;
	}
	.reviewDiv{
		visibility: hidden;
	}
	.bodyDiv{
		margin-left: 2%;
		margin-right: 2%;
	}
	.reviewDiv2{
		margin-top: -25%;
		font-size: larger;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	label{
		display: block;
	}
	.reviewDiv2 input{
		width: 65%;
		height: 20%;
	}
	.mayAlsoLike{
		border: none;
	}
	.alsoBikes{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		justify-content: space-evenly;
		background-color: white;
		
	}
	.alsoBikes p{
		border: 1px solid transparent;
		background-color: white;
		border-radius: 5em;
	}
	.alsoBikes div{
		
		border-bottom-left-radius: 1em;
		border-bottom-right-radius: 1em;
	}
	footer{
		padding-right: 5%;
	}
	footer .fdiv{
		color: white;
		font-size: larger;
		justify-content: space-around;
		display: flex;
		flex-direction: row;
	}
	footer h3{
		color: white;
		font-weight: bolder;
		padding: 10px 40px 10px 60px;
	}
	footer ul{
		padding: 10% 0 10% 0;
		line-height: 150%;
	}
	footer p{
		font-size: larger;
		color: white;
	}
	.fLogo{
		background-color: black;
		width: 100%;
	}
	footer .logo{
		width: 10%;
	}
	footer h2{
		display: inline;
		width: 100%;
	}
}
